* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background: yellow;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-item {
    background: red;
    width: 100%;
}